@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body {
  background-color: rgb(28, 34, 49);
  margin: 0%;
  padding: 0%;

  position: relative;
}


body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #797979;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
  border-radius: 100px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.principal-informacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px 20px;

  margin-top: 0px;
}


.info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.img-div {
  width: 155px;
  height: 165px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-photo {
  width: 130px;
  height: 130px;
  padding: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;

  transition: 433ms;

}

.image-photo:hover {
  width: 130px;
  height: 130px;
  padding: 1px;
  border: 3px solid #ffffff;
  border-radius: 50%;

  transform: scale(0.9);
  box-shadow: #00000090 2px 15px 15px;
}

.name {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin: 1px auto;
  color: #ffffff;

  font-weight: bold;
  font-size: 25px;
}

.title-major {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin: 1px auto;
  color: #ffffff;

  font-weight: 100;
  font-size: 15px;

  width: 540px;
  text-align: center;
}


.butoonFlotante{

  position: fixed;
  top: 93%;
  left: 97%;
  transform: translate(-50%, -50%);

  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  
  background-color: rgb(31, 37, 52);
  box-shadow: #00000040 2px 2px 6px;
  border-radius: 6px;

  transition: 330ms;
}

.butoonFlotante:hover{
  box-shadow: #00000080 2px 2px 6px;
  cursor: pointer;
}


@media (max-width: 500px) {
  .title-major {
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 1px auto;
    color: #ffffff;
  
    font-weight: 100;
    font-size: 15px;
  
    width: 93%;
    text-align: center;
  }

  .butoonFlotante{
    visibility: hidden;
  }
}

/*==============redes==================*/
.redes-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.div-red {
  padding: 8px 10px 8px 10px;
  color: #ffffff;
  font-size: 20px;

  background-color: rgb(31, 37, 52);
  box-shadow: #00000040 2px 2px 6px;
  border-radius: 6px;

  transition: 330ms;
}


.div-red:hover {
  padding: 8px 10px 8px 10px;
  color: #ffffff;
  font-size: 20px;


  box-shadow: #00000050 2px 2px 10px;
  border-radius: 6px;

  transform: scale(0.92);

}

/*-----------tab----------- */

nav {
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.bg-color {
  background-color: #46a1de;
  transition-duration: 0.5s;
}

.text-color {
  color: #46a1de;
  transition-duration: 0.5s;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: 'Ubuntu Condensed', sans-serif;

  table-layout: fixed;
  width: 45%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);

  margin: 0px auto;

  cursor: pointer;

  border-radius: 13px;
}

@media (max-width: 920px) {
  .tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: 'Ubuntu Condensed', sans-serif;

    table-layout: fixed;
    width: 100%;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);

    margin: 0px auto;

    cursor: pointer;

    border-radius: 13px;
  }
}

.tabs>li {
  transition-duration: 0.45s;

  width: 100%;

  background-color: rgb(31, 37, 52);
  list-style: none;
  text-align: center;
  padding: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;

  font-weight: bold;

  box-shadow: #00000040 2px 4px 10px;
  margin: 15px;

  border-radius: 10px;

  transition: 530ms;
}

.tabs>li:hover {
  transition-duration: 0.25s;



  transform: scale(0.9);
  background-color: rgb(31, 37, 52);
  list-style: none;
  text-align: center;

  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;



  box-shadow: #00000060 2px 2px 6px;


  border-radius: 10px;
}

.tabs>li:before {
  transition: 530ms;
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background-color: rgb(28, 34, 49);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-duration: 0.25s;
  border-radius: 5px 5px 0 0;
}

.tabs>li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
}

.tabs>li.active {
  color: #2b2b49;
  background-color: #ffffff;
}

.tabs>li.active:before {
  transition-duration: 0.5s;
  background-color: #ffffff;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.tab__content {
  background-color: rgb(28, 34, 49);
  position: relative;
  width: 100%;
  border-radius: 5px;
}

.tab__content>li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style: none;
}

.tab__content>li .content__wrapper {
  text-align: center;
  border-radius: 5px;

  width: 100%;
 
  background-color: rgb(28, 34, 49);
}

.content__wrapper h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300;
}

.content__wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 1920px) {
  .wrapper {
    width: 65%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
}

/*================card===============*/


.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0px 0px 30px 0px;
}

.image-content-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 300px;
}

.title-content-card {

  font-family: 'Ubuntu Condensed', sans-serif;
  margin: 1px auto;
  color: #ffffff;

  font-weight: bold;
  font-size: 25px;
  text-align: center;

}

.texto-de-la-pagina {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin: 1px auto;
  color: #ffffff;

  font-weight: 100;
  font-size: 15px;


}

.container .header {
  margin: 0 auto;
  text-align: center;
}

.container .header h1 {
  color: #fff;
  font-weight: 900;
}

.container .header p {
  color: rgb(255, 255, 255);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container .card {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.container .card .face {
  position: relative;
  width: 100%;
  width: 260px;
  height: 199.99px;
  transition: 0.78s;
  border-radius: 12px;
}

.container .card .face.face1 {
  position: relative;
  background: rgb(28, 34, 49);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transform: translateY(100px);

  border: 1px solid #ffffff;

}





/*-------Color de fondo----------------------------------------------------------------------------*/

.container .card:hover .face.face1 {
  transform: translateY(0);
  background: #F2994A;
  background: -webkit-linear-gradient(to left, #F2C94C, #F2994A);
  background: linear-gradient(to left, #F2C94C, #F2994A);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face3 {
  transform: translateY(0);
  background: #ff0000;
  background: -webkit-linear-gradient(to left, #ff0000, #2532c8);
  background: linear-gradient(to left, #ff0000, #2532c8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}


.container .card:hover .face.face1.face4 {
  transform: translateY(0);
  background: #4286f4;
  background: -webkit-linear-gradient(to left, #4286f4, #2948ff);
  background: linear-gradient(to left, #4286f4, #2948ff);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face5 {
  transform: translateY(0);
  background: #dc3d4b;
  background: -webkit-linear-gradient(to left, #dc3d4b, #b72632);
  background: linear-gradient(to left, #dc3d4b, #b72632);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face6 {
  transform: translateY(0);
  background: #3C3B3F;
  background: -webkit-linear-gradient(to left, #3C3B3F, #605C3C);
  background: linear-gradient(to left, #3C3B3F, #605C3C);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face7 {
  transform: translateY(0);
  background: #7a2828;
  background: -webkit-linear-gradient(to left, #a73737, #7a2828);
  background: linear-gradient(to left, #a73737, #7a2828);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face8 {
  transform: translateY(0);
  background: #0d2b4f;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face9 {
  transform: translateY(0);
  background: #e52d27; 
  background: -webkit-linear-gradient(to right, #b31217, #e52d27); 
  background: linear-gradient(to right, #b31217, #e52d27); 
  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face10 {
  transform: translateY(0);
  background: #56ab2f; 
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f); 
  background: linear-gradient(to right, #a8e063, #56ab2f); 
  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face11 {
  transform: translateY(0);
  background: #15b8e1;
  background: -webkit-linear-gradient(to right, #6dd5ed, #15b8e1);
  background: linear-gradient(to right, #6dd5ed, #15b8e1);
  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}


.container .card:hover .face.face1.face12 {
  transform: translateY(0);
  background: #030B13; 
  background: -webkit-linear-gradient(to right, #030B13, #101118); 
  background: linear-gradient(to right, #030B13, #101118); 
  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face13 {
  transform: translateY(0);
  background: #242632 ;
  background: -webkit-linear-gradient(to bottom, #3a3c4a, #242632);
  background: linear-gradient(to bottom, #3a3c4a, #242632);

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face14 {
  transform: translateY(0);
  background: #242632 ;
  background: -webkit-linear-gradient(to bottom, #0a418e, #da0028b8);
  background: linear-gradient(to bottom,#0a418e, #da0028b8);

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face15 {
  transform: translateY(0);
  background: #242632 ;
  background: -webkit-linear-gradient(to right, #325D88, #203a54);
  background: linear-gradient(to right,#325D88, #203a54);

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

.container .card:hover .face.face1.face16 {
  transform: translateY(0);
  background: #004aad ;
  background: -webkit-linear-gradient(to right,#DC3D4B, #dc3d4aae);
  background: linear-gradient(to right, #DC3D4B, #dc3d4aae);

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px #ffffff00;
}

/*---------------------------------------------------*/

.container .card .face.face1 .content {
  opacity: 0.8;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 120px;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: rgb(28, 34, 49);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 6px, rgba(29, 29, 29, 0.23) 0px 3px 6px;  
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container .card .face.face2 p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #1c2231;
  padding: 3px;
  border: 1px solid #333;
  background: #ffffff;
  border-radius: 10px;

  box-shadow: #00000050 2px 10px 10px;
  font-family: 'Ubuntu Condensed', sans-serif;

  transition: 390ms;

}

.container .card .face.face2 a:hover {
  transform: scale(1.1);
}

.svg-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  color: #ffffff;
}

.container .card .face.face2 a:hover {
  background: #ffffff;
  color: rgb(28, 34, 49);
}


/*=================tecnologias===================*/



.tecnologias {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  gap: 50px 100px;
  
  margin: 39px 0px 35px 0px; 
}

.title-tec {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #ffffff;

  font-weight: bold;
  font-size: 40px;
  margin-bottom: 3PX;
}

.content-tecs-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;

  gap: 10px 10px;
}

.name-tec-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 10px;
  
}

.name-tec {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #ffffff;

  text-align: start;
  font-weight: bold;
  font-size: 20px;


  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
}


.level-tec {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #ffffff;

  text-align: start;
  font-weight: 100;
  font-size: 14px;

  padding-left: 20px;
}


@media (max-width: 980px) {


  
  .tecnologias {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    align-content: space-around;
    margin: 10px auto;
  }

  .tecnologias>div {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    
    align-content: space-around;
    margin: 10px auto;
    width: 120px;
  }
  
  .title-tec {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #ffffff;
  
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 3PX;
  }
  
  .content-tecs-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
  
    gap: 10px 10px;
  }
  
  .name-tec-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }  
    
  
  .name-tec {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #ffffff;
  
    text-align: start;
    font-weight: bold;
    font-size: 18px;
  
  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
  }
  
  
  .level-tec {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #ffffff;
  
    text-align: start;
    font-weight: 100;
    font-size: 12px;
  
    padding-left: 18px;
  }
}